.moviesCard{
    display: flex;     
    flex-direction: row;    
    padding-top: 6px;
    padding-bottom: 6px;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
	margin-left: 70px;
	margin-right: 70px;
    background-color: #2F2F2F;
    align-items: center;     
}
.moviesCard-info{
    margin: 0;
    margin-left: 22px;
    padding: 0;
    display: block;
    flex-direction: column;
    align-items: flex-start
}
.moviesCard-fotoBox{
    width: 220px;
    height: 122px;
    margin-right: 6px;
}
.moviesCard-fotoBox__img{
    object-fit: cover;
    object-position: left top;
}
.moviesCard-info_time{
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;    
    color: #8B8B8B;
}
.moviesCard-info__title{
	max-width: 100%;
    margin: 0;
    margin-bottom: 13px;
    padding: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;    
    color: #FFFFFF;  
}

@media screen and (max-width: 650px) {
    .moviesCard{
        flex-direction: column-reverse;
        width: 300px;
        padding: 0;
        margin-left: 0px;
	margin-right: 0px;
    }
    .moviesCard-info{
        display: flex;
        
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        margin-top: 14px;
        padding-left: 12px;
        padding-right: 16px;
    }
    .moviesCard-fotoBox{
        width: 300px;
        height: 168px;
        margin: 0;
    }
    .moviesCard-fotoBox__img{
        width: 100%;
    }
    .moviesCard-info_time{
        margin: 0;
        margin-bottom: 14px;
    }
    .moviesCard-info__title{
        width: 228px;
        margin-right: 30px;
        margin-bottom: 8px;
    }
  }  