.profile {
  margin: 0 auto;
  outline: 1px solid rgb(204, 0, 255);
  max-width: 1280px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202020;
  color: rgb(255, 255, 255);
}
.profile-top__text {
    margin-top: 74px;
    margin-bottom: 123px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}
.profile-form {
    display: flex;
    flex-direction: column;
    align-items: center
}
.profile-form-name {
    padding: 17px;
    width: 410px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.profile-form-email {
    padding: 17px;
    border-top: 1px solid #424242;
    width: 410px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.profile-form__label {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
}
.profile-form__input {
    border: none;
    text-align:right;
    background-color: #202020;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
}
.profile-buttonbox__reg {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
    margin-top: 220px;
}
.profile-buttonbox__exit {
    margin: 0;
    margin-top: 16px;
}
.profile-buttonbox__reg__link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    margin: 0 auto;
    color: #FFFFFF;
}
.profile-buttonbox__exit__link {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    color: #EE3465;
}

