.popup__add-form-button{
    padding: 0;
    margin-left: 36px;
    margin-right: 36px;
    margin-top: 43px;
    align-items: center;
    background-color: #000000;
    width: 358px;
    height: 50.15px;
    text-decoration-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
.popup__add-form-button:hover {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    cursor: pointer;
}
@media (min-width: 300px) and (max-width: 629px) {
 
.popup__add-form-button{
  margin-left: 0;
  margin-right: 0;
  width: 238px;
  align-self: center;
}
}