.promo {
    background-color: #073042;
    ;
    max-width: 1280px;
    margin: 0 auto;
    height: 574px;
    
}
.promo-content {
    
    display: flex;
    margin-left: 70px;
    margin-right: 70px;
    justify-content: space-between
}
.promo-text {
    margin-top: 70px;
    display: flex;
    flex-direction: column
}
.promo-text__title {
    max-width: 640px;
margin: 0;
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 58px;
/* or 116% */


color: #FFFFFF;
}

.promo-text__subtitle {
    margin: 0;
    margin-top: 36px;
    margin-bottom: 146px;
    max-width: 310px;
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 16px;

color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;
}
.promo-logo__box {
    margin-top: 70px;
}
.promo-link {
    margin-left: 70px;
   width: 129px;
   height: 36px;
   opacity: 0.6;
border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 3px;

display: flex;
align-items: center;
justify-content: center
}
.promo-link__text {
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;

/* identical to box height, or 133% 

display: flex;
align-items: center;*/
text-decoration: none;
color: #FFFFFF;
}

@media screen and (max-width: 880px) {
    .promo-content {
      display: flex;
      justify-content: space-between;
      flex-direction: column-reverse;
      align-items: center;
      margin-left: 44px;
      margin-right: 44px;
    }
  
    .promo-text__title {
        max-width: 680px;
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 50px;
        /* or 125% */
        
        text-align: center;
        
        color: #FFFFFF;
    }
    .promo-text__subtitle {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        
        color: #FFFFFF;
        
        mix-blend-mode: normal;
        opacity: 0.5;
    }
    .promo-text {
      margin-top: 48px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .promo-link {
      margin: 0 auto;
    }
    .promo {
      
      height: 784px;
    }
  }
  
 