.aboutProject {
    background-color: #202020;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 110px;
}

.aboutProject-title{
    
    margin-left: 70px;
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 27px;
/* identical to box height */

letter-spacing: -0.04em;

color: #FFFFFF;
}

.aboutProject-info__column{
    margin-top: 50px;
    margin-bottom: 110px;
}

.aboutProject-info{
    border-top: 1px solid #DADADA;
    max-width: 1140px;
    margin: 0 auto;
    color: #fff;
    display: flex;

}
.aboutProject-info__header {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em
}
.aboutProject-info__text{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.progressWeek{
display: flex;
width: 1140px;
margin: 0 auto;
}

.progressWeek-item{
    
text-align: center;
margin-bottom: 96px;
    width: 912px;
}

.progressWeek-item__section{
    background-color: #303030;
    height: 36px;
    

    justify-content: center;
    display: flex;
    align-items: center;

    
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-align: center;

color: #000000;
}

.progressWeek-item__section_active{
    background-color: #3DDC84;
}

.progressWeek-item_active {
    width: 228px;
    
}

.progressWeek-item__subtitle{
    font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height, or 121% */

text-align: center;

color: #8B8B8B;
}
