.techs {
    outline: 1px solid rgb(243, 110, 255);
}
.techs {
    
}
.techs {
    outline: 1px solid rgb(185, 0, 71);
}
.techs-text {
    outline: 1px solid rgb(226, 7, 7);
}
.techs-text__title {
    outline: 1px solid rgb(210, 255, 10);
}
.techs-text__subtitle {
    outline: 1px solid rgb(160, 189, 0);
}
.techs-box {
    outline: 1px solid rgb(0, 238, 0);
}
.techs-link {
    
}
.techs-link_text {
    
}

